<div
  class="block md:hidden border-b px-4 py-1.5"
  data-controller="sidebar"
>
  <div class="flex items-center justify-between fixed top-0 w-full left-0 bg-white border-b px-4 py-2.5">
    <%= link_to root_path do %>
      <h2 class="font-black text-primary-500"><%= t :app %></h2>
    <% end %>
    <span data-action="click->sidebar#open">
      <%= icon_svg :list, class: 'stroke-primary-500 w-6 h-6' %>
    </span>
  </div>

  <div
    class="bg-black bg-opacity-0 w-screen h-screen top-0 left-0 fixed transition-all z-10"
    data-sidebar-target="backdrop"
    data-action="click->sidebar#close"
  ></div>

  <aside
    class="z-20 h-screen w-0 bg-white fixed top-0 left-0 transition-all overflow-hidden"
    data-sidebar-target="sidebar"
  >
    <h1 class="font-black text-primary-500 text-3xl text-center mt-8 mb-4"><%= t :app %></h1>
    <nav class="p-4 flex flex-col gap-4">
      <ul class="flex flex-col gap-2.5">
        <% %w[Projects Solutions Blog Events].each do |tab| %>
          <li class="text-gray-700 font-medium"><%= link_to tab, '#' %></li>
        <% end %>
      </ul>
      <ul class="flex flex-row gap-2.5">
        <% if authenticated? %>
          <%= button_to 'Sign Out', session_path, method: :delete, class: 'bg-primary-500 text-white rounded-lg py-2 px-3.5 inline-block font-medium cursor-pointer' %>
        <% else %>
          <%= link_to 'Login', new_session_path, class: 'bg-primary-500 text-white rounded-lg py-2 px-3.5 inline-block font-medium cursor-pointer' %>
          <%= link_to 'Sign Up', new_user_path, class: 'bg-primary-500 text-white rounded-lg py-2 px-3.5 inline-block font-medium cursor-pointer' %>
        <% end %>
      </ul>
    </nav>
  </aside>
</div>